<% if content_item.corporate_information? %>
  <%= content_item.corporate_information_heading_tag %>
  <% content_item.corporate_information.each do |group| %>
    <%= group[:heading] %>
    <ul>
      <% group[:links].each do |link| %>
        <li>
          <%= link %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if content_item.further_information.present? %>
    <p>
      <%= content_item.further_information %>
    </p>
  <% end %>
<% end %>
